@{
    ViewData["Title"] = "DevOps Demo Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Azure DevOps Batch</h1>
    <p>This is test deployment</p>
    <p>Now Web App Working Fine</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
